@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

:root {
	--bg-color: #1f242a;
	--second-bg-color: #323946;
	--text-color: #fff;
	--main-color: #0ef;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif;
}

html {
	font-size: 62.5%;
	overflow: hidden;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

section {
	min-height: 100vh;
	padding: 10rem 9% 2rem;
}

.btn {
	display: inline-block;
	padding: 1rem 2.8rem;
	background-color: var(--main-color);
	border-radius: 4rem;
	box-shadow: 0 0 1rem var(--main-color);
	font-size: 1.6rem;
	color: var(--second-bg-color);
	letter-spacing: 0.1rem;
	font-weight: 600;
	transition: 0.5s ease;
}

.btn:hover {
	box-shadow: none;
}

.heading {
	text-align: center;
	font-size: 4.5rem;
}

span {
	color: var(--main-color);
}

/* header style start  */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 9%;
	background: var(--bg-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.header.sticky {
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
	font-size: 2.5rem;
	color: var(--text-color);
	font-weight: 600;
	cursor: default;
}

.navbar a {
	font-size: 1.7rem;
	color: var(--text-color);
	margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
	color: var(--main-color);
}

#menu-icon {
	font-size: 3.6rem;
	color: var(--text-color);
	display: none;
}
/* header style end  */

/* home style start  */
.home {
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-content h3 {
	font-size: 3.2rem;
	font-weight: 700;
}

.home-content h1 {
	font-size: 5.6rem;
	font-weight: 700;
	line-height: 1.3;
}
.home-content p {
	font-size: 1.6rem;
}
.home-img img {
	width: 35vw;
	animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0%{
  transform: translateY(0);
}
  50%{
  transform: translateY(-2.4rem);
}
  100%{
  transform: translateY(0);
}

}

.home-content h3:nth-of-type(2) {
	margin-bottom: 2rem;
}

.social-media a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
	background: transparent;
	border: 0.2rem solid var(--main-color);
	border-radius: 50%;
	font-size: 2rem;
	color: var(--main-color);
	margin: 3rem 1.5rem 3rem 0;
	transition: 0.5s ease;
}

.social-media a:hover {
	background-color: var(--main-color);
	color: var(--second-bg-color);
	box-shadow: 0 0 1rem var(--main-color);
}
/* home style end  */

/* about style start  */
.about {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	background: var(--second-bg-color);
}

.about .about-img img {
	width: 35vw;
}

.about-content h2 {
	text-align: left;
	line-height: 1.2;
}
.about-content h3 {
	font-size: 2.6rem;
}

.about-content p {
	font-size: 1.6rem;
	margin: 2rem 0 3rem;
}

/* about style end  */

/* services style start  */
.services h2 {
	margin-bottom: 5rem;
}

.services-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.services-container .services-box {
	flex: 1 1 30rem;
	background-color: var(--second-bg-color);
	padding: 3rem 2rem 4rem;
	border-radius: 2rem;
	text-align: center;
	border: 0.2rem solid var(--bg-color);
	transition: 0.5s ease;
}

.services-container .services-box:hover {
	border-color: var(--main-color);
	transform: scale(1.02);
}

.services-box i {
	font-size: 7rem;
	color: var(--main-color);
}

.services-box h3 {
	font-size: 2.6rem;
}

.services-box p {
	font-size: 1.6rem;
	margin: 1rem 0 3rem;
}

/* service style end  */

/* portfolio style start  */
.portfolio {
	background-color: var(--second-bg-color);
}

.portfolio h2 {
	margin-bottom: 4rem;
}
.portfolio .portfolio-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 2.5rem;
}
.portfolio .portfolio-container .portfolio-box {
	position: relative;
	border-radius: 2rem;
	box-shadow: 0 0 1rem var(--bg-color);
	overflow: hidden;
	display: flex;
}

.portfolio .portfolio-container .portfolio-box img {
	width: 100%;
	transition: 0.5s ease;
}

.portfolio .portfolio-container .portfolio-box:hover img {
	transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 0 4rem;
	transform: translateY(100%);
	transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
	transform: translateY(0);
}

.portfolio-layer h4 {
	font-size: 3rem;
}
.portfolio-layer p {
	font-size: 1.6rem;
	margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: var(--text-color);
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}

.portfolio-layer a i {
	font-size: 2rem;
	color: var(--second-bg-color);
}

/* portfolio style end  */

/* contact style start  */
.contact h2 {
	margin-bottom: 3rem;
}

.contact form {
	max-width: 70rem;
	margin: 1rem auto;
	text-align: center;
	margin-bottom: 3rem;
}

.contact form .input-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
	width: 100%;
	padding: 1.5rem;
	font-size: 1.6rem;
	color: var(--text-color);
	background-color: var(--second-bg-color);
	border-radius: 0.8rem;
	margin: 0.7rem 0;
}

.contact form .input-box input {
	width: 49%;
}
.contact form textarea {
	resize: none;
}

.contact form .btn {
	cursor: pointer;
	margin-top: 2rem;
}

/* contact style end  */

/* footer style start  */
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem 9%;
	background-color: var(--second-bg-color);
}

.footer-text p {
	font-size: 1.6rem;
}

.footer-icon a {
	display: inline-block;
	justify-content: center;
	align-items: center;
	padding: 0.8rem;
	background-color: var(--main-color);
	border-radius: 0.8rem;
	transition: 0.5s ease;
}
.footer-icon a:hover {
	box-shadow: 0 0 1rem var(--main-color);
}

.footer-icon a i {
	font-size: 2.4rem;
	color: var(--second-bg-color);
}

/* footer style end  */

/* responsive style  */

@media (max-width: 1200px) {
	html {
		font-size: 55%;
	}
}

@media (max-width: 991px) {
	.header {
		padding: 2rem 3%;
	}

	section {
		padding: 10rem 3% 2rem;
	}

	.services,
	.portfolio {
		padding-bottom: 7rem;
	}
	.contact {
		min-height: auto;
	}
	footer {
		padding: 2rem 3%;
	}
}

@media (max-width: 768px) {
	#menu-icon {
		display: block;
	}

	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1rem 3%;
		background: var(--bg-color);
		border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
		display: none;
	}

	.navbar.active {
		display: block;
	}
	.navbar a {
		display: block;
		font-size: 2rem;
		margin: 3rem 0;
	}

	.home {
		flex-direction: column;
	}
	.home-content h3 {
		font-size: 2.6rem;
	}
	.home-content h1 {
		font-size: 5rem;
	}
	.home-img img {
		width: 70vw;
		margin-top: 4rem;
	}
	.about {
		flex-direction: column-reverse;
	}

	.about img {
		width: 70vw;
		margin-top: 4rem;
	}

	.services h2 {
		padding-bottom: 3rem;
	}
	.portfolio h2 {
		padding-bottom: 3rem;
	}
	.portfolio-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 617px) {
	.portfolio-container {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 450px) {
	html {
		font-size: 50%;
	}
	.contact form .input-box input {
		width: 100%;
	}
}

@media (max-width: 365px) {
	.home-img img {
		width: 90vw;
	}

	.about-img img {
		width: 90vw;
	}
	.footer {
		flex-direction: column-reverse;
	}

	.footer p {
		text-align: center;
		margin-top: 2rem;
	}
}

